.l-images-slide__image {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: left;
}

.l-images-slide {

  &.is-navigable:not(.is-auto) {
    cursor: pointer;
  }

  &.is-navigable {

    .l-images-slide__image {
      display: none;

      &.current {
        display: block;
      }
    }
  }
}

.l-images-container__description {
  display: none;
}

.l-left {
  cursor: url("../img/arrow-left.png"), auto;
}

.l-right {
  cursor: url("../img/arrow-right.png"), auto;
}
