// grid
$grid-unit: 3px;

$margin-document: true; //true or false

$gutter-width: 1rem;
$gutter-number: 12;

// header
$site-header-height: 8rem;
$header-text-repeat-spacing: 5em;

// font
$default-font-size: 15px;
$font-size: 1em;
$line-height: 3rem;

//about
$about-size: 3.5em;
$about-border-margin: 10rem;