body {
  font-size: $default-font-size;
  line-height: 3rem;
}

h1 {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: inherit;
}

p {
  margin-top: 0.5rem;
  font-size: $font-size;
  line-height: $line-height;
}