@import "../../node_modules/normalize.css/normalize.css";
@import "./params";
@import "./grid";
@import "./font";
@import "./l-theme/main";

html {
  font-size: $grid-unit;
}

body {
  font-family: Minion, serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  @if $margin-document == true {
    margin-left:  -$gutter-width;
    margin-right: -$gutter-width;
    overflow-x: hidden;
  }
}
