@import "../../node_modules/normalize.css/normalize.css";
@import "./params";
@import "./grid";
@import "./font";
@import "./l-theme/main";

@import "./im";

html {
  font-size: $grid-unit;
}

body {
  font-family: Times, serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  @if $margin-document == true {
    margin-left:  -$gutter-width;
    margin-right: -$gutter-width;
    overflow-x: hidden;
  }
}

.l-images-cache {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 3px;
    background: black;
    bottom: -1px;
    left: 0;
  }
}
